<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Travel App</title>
</head>

<body>

    <header>
        <h1 class="title">Udacity Travel App</h1>
    </header>

    <main>
        <section id="inputs">
            <form class="container">
                <input type="text" placeholder="City" id="city" aria-label="City" required>
                <input type="date" placeholder="Sart Date" id="startDate" aria-label="Date" required>
                <input type="date" placeholder="End Date" id="endDate" aria-label="Date" required>
                <button type="submit" id="submit">Start</button>
            </form>
        </section>

        <section id="yourTrip"></section>
    </main>

    <footer>
        <p class="copyright">
            © Copyright
            <script type="text/javascript">
                document.write(new Date().getFullYear());
            </script>
            Ahmed Alsaqaf - Udacity FEND project
        </p>
    </footer>
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</body>

</html>