<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Sentiment Analysis Api</title>
</head>

<body>

    <header>
        <div class="">
            Logo
        </div>
        <div class="">
            navigation
        </div>
    </header>

    <main>
        <section>
            <form class="" onsubmit="return Client.handleSubmit(event)">
                <input id="url" type="text" name="input" value="" placeholder="put your link here">
                <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)"
                    onsubmit="return handleSubmit(event)">
            </form>
            <section>

                <section>
                    <strong>Sentiment Analysis Results:</strong>
                    <div id="irony"></div>
                    <div id="confidence"></div>
                    <div id="agreement"></div>
                    <div id="subjectivity"></div>
                </section>
    </main>

    <footer>
        <p class="copyright">
            © Copyright
            <script type="text/javascript">
                document.write(new Date().getFullYear());
            </script>
            Ahmed Alsaqaf - Udacity FEND project
        </p>
    </footer>
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</body>

</html>