form {
    padding: 40px;
	color: #005e45;
	font-family: Helvetica;
	text-align: center;
}

input {
    padding: 5px 20px;
    width: 25%;
	height: 30px;
    line-height: 16px;
    margin: 10px 0;
	font-family: Helvetica;
	display: inline-block;
	border: 2px solid #047758;
}

